/* ----NAVIGATION BAR (START)---- */
        .navbar-toggler {
            width: 20px;
            height: 20px;
            position: relative;
            transition: .5s ease-in-out;
        }

        .navbar-toggler,
        .navbar-toggler:focus,
        .navbar-toggler:active,
        .navbar-toggler-icon:focus {
            outline: none;
            box-shadow: none;
            border: 0;
        }

        .navbar-toggler span {
            margin: 0;
            padding: 0;
        }

        .toggler-icon {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: rgb(250, 176, 17);;
            border-radius: 1px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }

        .middle-bar {
            margin-top: 0px;
        }

        /* when navigation is clicked */

        .navbar-toggler .top-bar {
            margin-top: 0px;
            transform: rotate(135deg);
        }

        .navbar-toggler .middle-bar {
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .navbar-toggler .bottom-bar {
            margin-top: 0px;
            transform: rotate(-135deg);
        }

        /* State when the navbar is collapsed */

        .navbar-toggler.collapsed .top-bar {
            margin-top: -20px;
            transform: rotate(0deg);
        }

        .navbar-toggler.collapsed .middle-bar {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        .navbar-toggler.collapsed .bottom-bar {
            margin-top: 20px;
            transform: rotate(0deg);
        }

        .navbar img{
            height: 35px;
            margin-left: 20%;
        }


        /* Color of 3 lines */

        .navbar-toggler.collapsed .toggler-icon {
            background: linear-gradient(90deg, rgba(212,159,55,1) 0%, rgba(237,215,7,1) 48%, rgba(212,159,55,1) 100%);
        }

        .hedder{
            display: flex;
        }

        .navbar-collapse{
            align-self:flex-end;
        }

        .bg-color{
            background-color: #000000d2;
        }

        .navbar-dark a{
            color: white;
        }

        .navbar-dark a:hover{
            color: rgb(255, 189, 47);
        }

        .dropdown-divider{
            background-color: rgb(255, 255, 255);
            margin-left:10%;
            width: 80%;
        }

        .dropdown-item:hover{
            background-color: #000000e7;
        }

        .dropdown-menu{
            border-color: rgb(184, 187, 187);
            border-top: #00000000;
        }
/* ----NAVIGATION BAR (END)---- */


/* ----BACKGROUND VIDEO---- */
        #background-video {
            opacity: 0.2;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
        }
/* ---------------------- */


.background-dark{
    background-color: #0A0A0A;
    padding-top: 5%;
}